# Teamhood
TEAMHOOD_API_KEY=
TEAMHOOD_API_BASE_URL=https://api-node.teamhood.com
TEAMHOOD_WORKSPACE_ID=
TEAMHOOD_BOARD_ID=
TEAMHOOD_USER_MAP={}

# Zoho (EU region)
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_TOKEN_URL=https://accounts.zoho.eu/oauth/v2/token
ZOHO_API_BASE=https://www.zohoapis.eu/invoice/v3

# Server
PORT=3000
